<?xml version="1.0"?>

<robot xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
  xmlns:xacro="http://www.ros.org/wiki/xacro" name="ada">

  <xacro:include filename="$(find ada_description)/urdf/forque/forque.xacro"/>
  <xacro:include filename="$(find ada_description)/urdf/camera/camera.xacro"/>
  <xacro:include filename="$(find ada_description)/urdf/j2n6s200.xacro"/>

  <xacro:arg name="use_forque" default="true"/>

  <link name="root"/>

  <xacro:property name="robot_root" value="root" />


  <xacro:j2n6s200 base_parent="${robot_root}"/>

  <xacro:camera_assembly base_parent="j2n6s200_link_6" base_xyz="0.0165 0 0.0011" base_rpy="${3*J_PI/2} 0 ${3*J_PI/2}"/>

  <!-- Hard-coded Extrinsics -->
  <link name="camera_link" />
  <joint name="extrinsics" type="fixed">
    <origin xyz="0.023 0.055 0.005" rpy="-0.039 0.100 -0.007" />
    <parent link="stabilizer" />
    <child link="camera_link" />
  </joint>
  <!-- Copy Realsense in case of simulation -->
  <!--
  <link name="camera_color_optical_frame" />
  <joint name="optical_republish" type="fixed">
    <origin xyz="0.000 -0.015 0.000" rpy="-1.564 0.000 -1.573" />
    <parent link="camera_link" />
    <child link="camera_color_optical_frame" />
  </joint>
  -->

  <xacro:forque_assembly_link link_name="FTArmMount" link_mesh="2023_03_09_FTArmMount" mass="0.0025" cog="0.011184837 -0.024537498 -0.035437509">
    <xacro:insert_block name="default_inertial"/>
  </xacro:forque_assembly_link>
  <xacro:forque_assembly_joint joint_name="FTArmMount_to_arm" parent="j2n6s200_link_6" child="FTArmMount" joint_origin_xyz="0.0065 -0.011 -0.0075" joint_origin_rpy="${J_PI/2} 0 ${J_PI/2}"/>

  <xacro:if value="$(arg use_forque)">
    <xacro:forque_assembly base_parent="FTArmMount"/>

    <link name="FTSensor" />
      <joint name="EE_to_FTSensor" type="fixed">
        <child link="FTSensor"/>
        <parent link="j2n6s200_end_effector"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.092"/>
    </joint>
  </xacro:if>

</robot>