<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.032072 0.13256 -0.155098" rpy="0.270738 -0.00166814 -3.13232" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.032072 0.13256 -0.155098   -0.00145183 -0.13495 0.990841 -0.00447916 j2n6s200_end_effector camera_color_optical_frame" />
</launch>
