<?xml version="1.0"?>
<root
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
  xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
  xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
  xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
  xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
  xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
>
  <xacro:include filename="$(find ada_description)/urdf/camera/d415urdf.xacro"/>

  <xacro:property
    name="camColor"
    value="0.4 0.4 0.4 1"
  />
  <xacro:property
    name="J_PI"
    value="3.1415926535897931"
  />

  <xacro:property name="default_inertial">
    <inertia
      ixx="0.000005"
      iyy="0.000005"
      iyz="0"
      izz="0.000005"
      ixy="0"
      ixz="0"
    />
  </xacro:property>

  <xacro:macro
    name="camera_assembly_link"
    params="link_name link_mesh mass:=0 cog:='0 0 0' *inertia"
  >
    <link name="${link_name}">
      <visual>
        <geometry>
          <mesh
            filename="package://ada_description/meshes/camera/${link_mesh}.stl"
            scale="0.001 0.001 0.001"
          />
        </geometry>
        <material name="abs">
          <color rgba="${camColor}"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh
            filename="package://ada_description/meshes/camera/${link_mesh}.stl"
            scale="0.001 0.001 0.001"
          />
        </geometry>
      </collision>
      <inertial>
        <origin
          xyz="${cog}"
          rpy="0 0 0"
        />
        <mass value="${mass}"/>
        <xacro:insert_block name="inertia"/>
      </inertial>
    </link>
  </xacro:macro>

  <xacro:macro
    name="camera_assembly_joint"
    params="joint_name parent child joint_origin_xyz joint_origin_rpy"
  >
    <joint
      name="${joint_name}"
      type="fixed"
    >
      <parent link="${parent}"/>
      <child link="${child}"/>
      <axis xyz="0 0 1"/>
      <origin
        xyz="${joint_origin_xyz}"
        rpy="${joint_origin_rpy}"
      />
    </joint>
  </xacro:macro>

  <xacro:property
    name="default_origin"
    value="0 0 0"
  />

  <xacro:macro
    name="camera_assembly"
    params="base_parent base_xyz:=${default_origin} base_rpy:=${default_origin}"
  >
    <xacro:camera_assembly_link
      link_name="nanoMount"
      link_mesh="2023_03_09_nanoArmMount"
      mass="0.008"
      cog="-0.002400 0.0046958 0.0115245"
    >
      <inertia
        ixx="0.00000095025"
        iyy="0.0000067325"
        iyz="0.000000000470196"
        izz="0.0000069433"
        ixy="-0.000000297842"
        ixz="-0.00000000010444"
      />
    </xacro:camera_assembly_link>
    <xacro:camera_assembly_joint
      joint_name="nanoMount_to_world"
      parent="${base_parent}"
      child="nanoMount"
      joint_origin_xyz="${base_xyz}"
      joint_origin_rpy="${base_rpy}"
    />

    <xacro:camera_assembly_link
      link_name="enclosureBottom"
      link_mesh="2023_09_28_nanoEnclosureBottom"
      mass="0.040"
      cog="0.0546451 0.0472161 0.00043655"
    >
      <inertia
        ixx="0.000041028"
        iyy="0.000083168"
        iyz="0.0000026243"
        izz="0.000116424"
        ixy="-0.000000324"
        ixz="-0.00000045367"
      />
    </xacro:camera_assembly_link>
    <xacro:camera_assembly_joint
      joint_name="enclosureBottom_to_nanoMount"
      parent="nanoMount"
      child="enclosureBottom"
      joint_origin_xyz="0.0412 -0.0218 0.026"
      joint_origin_rpy="0 0 ${J_PI/2}"
    />

    <xacro:camera_assembly_link
      link_name="nano"
      link_mesh="2023_03_21_jetsonNano"
      mass="0.142"
      cog="0.0435615 0.02502709 0.0091247"
    >
      <inertia
        ixx="0.000077456"
        iyy="0.0001013"
        iyz="0.0000036951"
        izz="0.0001727"
        ixy="-0.000004935"
        ixz="0.0000015461"
      />
    </xacro:camera_assembly_link>
    <xacro:camera_assembly_joint
      joint_name="nano_to_enclosureBottom"
      parent="enclosureBottom"
      child="nano"
      joint_origin_xyz="0.0105 0.014 -0.0015"
      joint_origin_rpy="0 0 0"
    />

    <xacro:camera_assembly_link
      link_name="frontStabilizer"
      link_mesh="2023_09_21_nanoEnclosureFrontStabilizer"
      mass="0.0198"
      cog="-0.008107 -0.000955 0.02045"
    >
      <inertia
        ixx="0.00000074776"
        iyy="0.0000118843"
        iyz="0.00000001021778"
        izz="0.0000119096"
        ixy="0.000000000071856"
        ixz="0.0000000002764"
      />
    </xacro:camera_assembly_link>
    <xacro:camera_assembly_joint
      joint_name="frontStabilizer_to_enclosureBottom"
      parent="enclosureBottom"
      child="frontStabilizer"
      joint_origin_xyz="0.1063 0.0493 -0.0363"
      joint_origin_rpy="0 0 ${J_PI/2}"
    />

    <xacro:camera_assembly_link
      link_name="enclosureTop"
      link_mesh="2023_06_06_nanoEnclosureTopCameraBack"
      mass="0.046"
      cog="0.041228 0.006275 0.016379"
    >
      <inertia
        ixx="0.00005942"
        iyy="0.000085611"
        iyz="0.0000012783"
        izz="0.000126390"
        ixy="-0.000000046193"
        ixz="0.0000091699"
      />
    </xacro:camera_assembly_link>
    <xacro:camera_assembly_joint
      joint_name="enclosureTop_to_enclosureBottom"
      parent="enclosureBottom"
      child="enclosureTop"
      joint_origin_xyz="0.009925 0.04099 0.05442"
      joint_origin_rpy="0 ${165.4 * J_PI / 180} ${J_PI}"
    />

    <xacro:camera_assembly_link
      link_name="cameraMount"
      link_mesh="2023_06_06_cameraBackMount"
      mass="0.004"
      cog="-0.007986 0 0.010064"
    >
      <inertia
        ixx="0.000002782"
        iyy="00.0000005528"
        iyz="-0.00000000000178"
        izz="0.000002964"
        ixy="-0.00000000002321"
        ixz="0.000000074385"
      />
    </xacro:camera_assembly_link>
    <xacro:camera_assembly_joint
      joint_name="cameraMount_to_enclosureTop"
      parent="enclosureTop"
      child="cameraMount"
      joint_origin_xyz="-0.0132 0 -0.022"
      joint_origin_rpy="0 ${J_PI / 2} 0"
    />

    <xacro:camera_assembly_link
      link_name="screwHeadLeft"
      link_mesh="2023_11_07_screwHead"
      mass="0.0001"
      cog="0 0 0.0015"
    >
      <inertia
        ixx="0.000000000342785"
        iyy="0.000000000342785"
        iyz="0"
        izz="0.000000000543538"
        ixy="0"
        ixz="0"
      />
    </xacro:camera_assembly_link>
    <xacro:camera_assembly_joint
      joint_name="screwHeadLeft_to_cameraMount"
      parent="cameraMount"
      child="screwHeadLeft"
      joint_origin_xyz="0.0165 -0.0225 0"
      joint_origin_rpy="${J_PI} 0 0"
    />

    <xacro:camera_assembly_link
      link_name="screwHeadRight"
      link_mesh="2023_11_07_screwHead"
      mass="0.0001"
      cog="0 0 0.0015"
    >
      <inertia
        ixx="0.000000000342785"
        iyy="0.000000000342785"
        iyz="0"
        izz="0.000000000543538"
        ixy="0"
        ixz="0"
      />
    </xacro:camera_assembly_link>
    <xacro:camera_assembly_joint
      joint_name="screwHeadRight_to_cameraMount"
      parent="cameraMount"
      child="screwHeadRight"
      joint_origin_xyz="0.0165 0.0225 0"
      joint_origin_rpy="${J_PI} 0 0"
    />

    <xacro:sensor_d415
      parent="cameraMount"
      use_mesh="true"
      name="uncalibrated_camera"
    >
      <origin
        xyz="0.006 0 0.013"
        rpy="0 ${-J_PI / 2} ${J_PI}"
      />
    </xacro:sensor_d415>
  </xacro:macro>
</root>
