<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="ada"
>
  <xacro:arg
    name="initial_positions_file"
    default="initial_positions.yaml"
  />
  <xacro:arg
    name="sim"
    default="real"
  />
  <xacro:arg
    name="use_forque"
    default="false"
  />
  <xacro:arg
    name="end_effector_tool"
    default="fork"
  />
  <xacro:arg
    name="lock_joints"
    default="false"
  />

  <!-- Import ada urdf file -->
  <xacro:include filename="$(find ada_description)/urdf/ada.xacro"/>
  <xacro:include filename="$(find articutool_description)/urdf/articutool.xacro"/>

  <xacro:property
    name="end_effector_tool"
    value="$(arg end_effector_tool)"
  />
  <xacro:ada use_forque="$(arg use_forque)"/>
  <xacro:articutool
    base_parent="j2n6s200_end_effector"
    end_effector_tool="${end_effector_tool}"
    joint_origin_rpy="0 0 ${J_PI/2}"
    joint_origin_xyz="0 -2.25 -1"
    lock_joints="$(arg lock_joints)"
  />

  <!-- Import control_xacro -->
  <xacro:include filename="ada.ros2_control.xacro"/>

  <xacro:ada_ros2_control
    name="ADAHardware"
    initial_positions_file="$(arg initial_positions_file)"
    sim="$(arg sim)"
  />
</robot>
