<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ada">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="sim" default="real" />

    <!-- TODO: figure out how to have ada.xacro inherit from this argument -->
    <xacro:arg name="end_effector_tool" default="fork" />
    <xacro:property name="cmp_end_effector_tool" value="$(arg end_effector_tool)"/>

    <!-- Import ada urdf file -->
    <xacro:include filename="$(find ada_description)/urdf/ada.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ada.ros2_control.xacro" />


    <xacro:ada_ros2_control name="ADAHardware" 
        initial_positions_file="$(arg initial_positions_file)"
        sim="$(arg sim)" />

    <xacro:if value="${cmp_end_effector_tool == 'articulable_fork'}">
      <xacro:af_ros2_control name="AFHardware"
          initial_positions_file="$(arg initial_positions_file)"
          sim="$(arg sim)" />
    </xacro:if>

</robot>
