<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ada_hardware_interface" params="name prefix:=j2n6s200 sim readonly:=false">

    <ros2_control name="${name}" type="system">

      <hardware>
        <xacro:if value="${sim == 'mock'}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">false</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:if value="${sim == 'isaac'}">
          <plugin>ada_hardware/JacoIsaac</plugin>
          <param name="namespace">/simulation</param>
        </xacro:if>
        <xacro:if value="${sim == 'none'}">
          <plugin>ada_hardware/Jaco2</plugin>
        </xacro:if>
      </hardware>

      <!-- Arm DOFs -->
      <joint name="${prefix}_joint_1">
        <xacro:unless value="${readonly}">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
        </xacro:unless>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}_joint_2">
        <xacro:unless value="${readonly}">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
        </xacro:unless>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}_joint_3">
        <xacro:unless value="${readonly}">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
        </xacro:unless>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}_joint_4">
        <xacro:unless value="${readonly}">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
        </xacro:unless>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}_joint_5">
        <xacro:unless value="${readonly}">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
        </xacro:unless>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}_joint_6">
        <xacro:unless value="${readonly}">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
        </xacro:unless>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- Finger DOFs -->
      <joint name="${prefix}_joint_finger_1">
        <xacro:unless value="${readonly}">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
        </xacro:unless>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${prefix}_joint_finger_2">
        <xacro:unless value="${readonly}">
          <command_interface name="position"/>
          <command_interface name="velocity"/>
          <command_interface name="effort"/>
        </xacro:unless>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
