<?xml version="1.0"?>

<root xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:property name="forque_color" value="0.4 0.4 0.4 1" />
	<xacro:property name="J_PI" value="3.1415926535897931" />
	<xacro:property name="default_inertial">
		<inertia ixx="0.001" iyy="0.001" iyz="0.001" izz="0.001" ixy="0.001" ixz="0.001"/>
	</xacro:property>


	<xacro:macro name="forque_assembly_link" params="link_name link_mesh mass:=0 cog:='0 0 0' *inertia">
		<link name="${link_name}">
			<visual>
				<geometry>
					<mesh
						filename="package://ada_description/meshes/forque/${link_mesh}.stl"
						scale="0.001 0.001 0.001"/>
				</geometry>
				<material name="abs">
					<color rgba="${forque_color}" />
				</material>
			</visual>
			<collision>
                <geometry>
                    <mesh
						filename="package://ada_description/meshes/forque/${link_mesh}.stl"
						scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
            <inertial>
            	<origin xyz="${cog}" rpy="0 0 0"/>
            	<mass value="${mass}"/>
            	<xacro:insert_block name="inertia"/>
            </inertial>
		</link>
	</xacro:macro>

	<xacro:macro name="forque_assembly_joint" params="joint_name parent child joint_origin_xyz joint_origin_rpy">
		<joint name="${joint_name}" type="fixed">
			<parent link="${parent}"/>
			<child link="${child}"/>
			<axis xyz="0 0 1"/>
			<origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
		</joint>
	</xacro:macro>




	<xacro:macro name="forque_assembly" params="base_parent use_antenna:=false">

		<xacro:forque_assembly_link link_name="FTMount" link_mesh="2024_01_18_FTMount" mass="0.103" cog="0.010934 -0.138522 -0.05066">
			<xacro:insert_block name="default_inertial"/>
        </xacro:forque_assembly_link>
	  	<xacro:forque_assembly_joint joint_name="FTMount_to_world" parent="${base_parent}" child="FTMount" joint_origin_xyz="0 0 -0.005" joint_origin_rpy="0 0 0"/>

	  	<xacro:forque_assembly_link link_name="FT" link_mesh="2023_03_09_wirelessFT" mass="0.280" cog="0.0111446 -0.0882070 -0.0544936">
	  		<xacro:insert_block name="default_inertial"/>
	  	</xacro:forque_assembly_link>
	  	<xacro:forque_assembly_joint joint_name="FT_to_FTMount" parent="FTMount" child="FT" joint_origin_xyz="0 0 0" joint_origin_rpy="0 0 0"/>


	  	<xacro:if value="${use_antenna}">
		  	<xacro:forque_assembly_link link_name="FTAntenna" link_mesh="2023_03_09_wirelessFTAntenna" mass="0.018" cog="-0.0162965 0.0666626 -0.0545096">
	  		  <xacro:insert_block name="default_inertial"/>
	  	  </xacro:forque_assembly_link>
	  	  <xacro:forque_assembly_joint joint_name="FTAntenna_to_FT" parent="FT" child="FTAntenna" joint_origin_xyz="0 0 0" joint_origin_rpy="0 0 0"/>
		  </xacro:if>

	  	<xacro:forque_assembly_link link_name="forkHandle" link_mesh="2023_03_09_forkHandle" mass="0.0506" cog="0.0110024 -0.151715 -0.00934664">
	  		<xacro:insert_block name="default_inertial"/>
	  	</xacro:forque_assembly_link>
		<!-- The slight rotation was manually added due to empirical deformations in the robot gripped, such that the fingers and fork handle were slightly pitched up relative to the wrist. -->
		<xacro:forque_assembly_joint joint_name="forkHandle_to_FTMount" parent="FTMount" child="forkHandle" joint_origin_xyz="0 0 0.005" joint_origin_rpy="-0.025 0 0"/>

	  	<xacro:forque_assembly_link link_name="forque" link_mesh="ATI-9105-TW-NANO25-E" mass="0.0634" cog="0.0124692 0.0137169 0.010558">
	  		<xacro:insert_block name="default_inertial"/>
	  	</xacro:forque_assembly_link>
	  	<xacro:forque_assembly_joint joint_name="forque_to_forkHandle" parent="forkHandle" child="forque" joint_origin_xyz="-0.00634 -0.222553 -0.004286" joint_origin_rpy="${J_PI/2} ${J_PI/3} 0"/>

	  	<xacro:forque_assembly_link link_name="forkTine" link_mesh="fork_tine" mass="0.024" cog="0.013090 0.0180789 0.0445231">
	  		<xacro:insert_block name="default_inertial"/>
	  	</xacro:forque_assembly_link>
	  	<xacro:forque_assembly_joint joint_name="forkTine_to_forque" parent="forque" child="forkTine" joint_origin_xyz="-0.0054 0.008 0.093" joint_origin_rpy="0 ${J_PI} ${240*J_PI/180}"/>

	  	<link name="forkTip" />
	  	<joint name="forkTip_to_forkTine" type="fixed">
		    <child link="forkTip"/>
		    <parent link="forkTine"/>
		    <origin rpy="${J_PI} 0 0" xyz="0.0135 0.007 0"/>
		</joint>

	</xacro:macro>


</root>